<div class="dialog-container">
    <div mat-dialog-title>
        <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'product'"
                >{{ action === 'create' ? 'Create' : 'Update' }} Product</ng-container
            >
            <ng-container *ngSwitchCase="'user'"
                >{{ action === 'create' ? 'Create' : 'Update' }} User</ng-container
            >
            <ng-container *ngSwitchCase="'order'"
                >{{ action === 'create' ? 'Create' : 'Update' }} Order</ng-container
            >
        </ng-container>
    </div>

    <mat-dialog-content class="dialog-content">
        <form [formGroup]="form" (ngSubmit)="inserItem()" class="dialog-content-form">
            <ng-container [ngSwitch]="type">
                <!-- User Form Fields -->
                <ng-container *ngSwitchCase="'user'">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="first_name" required title="First Name" />
                        <mat-error
                            *ngIf="
                                form.get('first_name')?.invalid && form.get('first_name')?.touched
                            "
                        >
                            First Name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="last_name"
                            required
                            title="Last Name"
                        />
                        <mat-error
                            *ngIf="form.get('last_name')?.invalid && form.get('last_name')?.touched"
                        >
                            Last Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Nickname</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="nickname"
                            required
                            title="Nickname"
                        />
                        <mat-error
                            *ngIf="form.get('nickname')?.invalid && form.get('nickname')?.touched"
                        >
                            Nickname is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>email</mat-label>
                        <input
                            matInput
                            type="email"
                            formControlName="email"
                            required
                            title="email"
                        />
                        <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                            Email is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Phone Number</mat-label>
                        <input
                            matInput
                            type="tel"
                            formControlName="phone_number"
                            required
                            title="Phone Number"
                        />
                        <mat-error
                            *ngIf="
                                form.get('phone_number')?.invalid &&
                                form.get('phone_number')?.touched
                            "
                        >
                            <ng-container *ngIf="form.get('phone_number')?.errors?.['required']">
                                Phone Number is required
                            </ng-container>
                            <ng-container *ngIf="form.get('phone_number')?.errors?.['minlength']">
                                Phone Number must be at least 10 digits long
                            </ng-container>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="role" required>
                            <mat-option value="client">Client</mat-option>
                            <mat-option value="admin">Admin</mat-option>
                            <mat-option value="seller">Seller</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('role')?.invalid && form.get('role')?.touched">
                            Role is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Location</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="location"
                            required
                            title="Location"
                        />
                        <mat-error
                            *ngIf="form.get('location')?.invalid && form.get('location')?.touched"
                        >
                            Location is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input
                            matInput
                            type="text"
                            formControlName="password"
                            required
                            title="Password"
                        />
                        <mat-error
                            *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
                        >
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </ng-container>

                <!-- Product Form Fields -->
                <ng-container *ngSwitchCase="'product'">
                    <mat-form-field>
                        <mat-label>Product Name</mat-label>
                        <input
                            matInput
                            formControlName="product_name"
                            required
                            title="Product Name"
                        />
                        <mat-error
                            *ngIf="
                                form.get('product_name')?.invalid &&
                                form.get('product_name')?.touched
                            "
                        >
                            Product Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input
                            matInput
                            type="number"
                            min="0"
                            formControlName="price"
                            required
                            title="Price"
                        />
                        <mat-error *ngIf="form.get('price')?.invalid && form.get('price')?.touched">
                            Price is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Image URL</mat-label>
                        <input matInput formControlName="image" title="Image URL" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea
                            matInput
                            formControlName="description"
                            title="Description"
                        ></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Ingredients</mat-label>
                        <textarea
                            matInput
                            formControlName="ingredients"
                            title="Ingredients"
                        ></textarea>
                    </mat-form-field>
                </ng-container>
            </ng-container>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="button cancel" mat-stroked-button color="warn" mat-dialog-close>
            Cancel
        </button>
        <button
            class="button"
            mat-stroked-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || !formHasChanged()"
            autofocus
            (click)="inserItem()"
        >
            {{ action }}
        </button>
    </mat-dialog-actions>
</div>
