<div class="manage-products">
    <div class="manage-products-controls-container">
        <mat-form-field>
            <mat-icon style="color: 'gray'" matPrefix>search</mat-icon>
            <input
                class="search-input"
                matInput
                placeholder="Search Product"
                [(ngModel)]="searchTerm"
                name="searchTerm"
                #input
                (input)="searchProduct()"
            />
            <button mat-icon-button matSuffix color="primary" (click)="clearSearch($event)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button
            mat-raised-button
            class="add-button"
            color="primary"
            (click)="createUpdateProduct('create')"
        >
            Add Product +
        </button>
    </div>

    <app-grid-table-list
        class="manage-products-item-list"
        [items]="bakeryManagementService.productsList"
        [minItemHeight]="50"
        [minItemWidth]="300"
        [gutterSize]="0"
        [scrollType]="'infinite'"
        (infiniteScrollDown)="scrolledToBottom('product')"
    >
        <ng-template #listItem let-item="item">
            <app-products-table-list
                class="table-list"
                [item]="item"
                (editItem)="createUpdateProduct('update', item)"
                (deleteItem)="deleteProduct(item)"
            ></app-products-table-list>
        </ng-template>
    </app-grid-table-list>
</div>

<!-- TODO: center the spinner -->
<mat-progress-spinner
    *ngIf="isLoading && hasMoreProductsToLoad"
    mode="indeterminate"
    diameter="50"
></mat-progress-spinner>
