<ng-template>
    <form [formGroup]="form" class="mef-simple-radio-select-filter">
        <mat-form-field
            floatLabel="auto"
            class="form-field-without-hint"
            [ngStyle]="{
                backgroundColor:
                    defaultEmptyValue()!.value !== selection().value ? '#dcdcdc' : '#eeeeee',
                width: customLabelWidth() ? customLabelWidth : null,
            }"
        >
            <span class="mef-simple-radio-select-label">
                <mat-icon
                    *ngIf="defaultEmptyValue()?.value !== selection().value"
                    class="mef-simple-radio-select-label-icon"
                    >check</mat-icon
                >
                <span>{{ labelTK() }}</span></span
            >
            <mat-select
                formControlName="fields"
                (selectionChange)="onSelectionChange($event)"
                class="mef-simple-radio-select-filter-select"
                [panelClass]="['mef-simple-radio-select-filter-select-overlay', panelClass]"
                [compareWith]="compareValues"
                [disableOptionCentering]="true"
            >
                <mat-option *ngFor="let field of fields()" [value]="field">
                    <div class="mef-simple-radio-select-filter-content">
                        <div
                            class="mef-simple-radio-select-filter-option-label"
                            *ngIf="field.isTranslated"
                        >
                            {{ field.label }}
                        </div>
                        <div
                            class="mef-simple-radio-select-filter-option-label"
                            *ngIf="!field.isTranslated"
                        >
                            {{ field.label }}
                        </div>
                        <div class="mef-simple-radio-select-filter-count-and-suffix">
                            <div
                                class="mef-simple-radio-select-filter-option-count"
                                *ngIf="field.count || field.count === 0"
                            >
                                ({{ field.count }})
                            </div>
                            <div>
                                <mat-icon
                                    class="mef-simple-radio-select-filter-suffix"
                                    color="primary"
                                    *ngIf="field.value === selection().value"
                                    >radio_button_checked</mat-icon
                                >
                                <mat-icon
                                    class="mef-simple-radio-select-filter-suffix"
                                    *ngIf="field.value !== selection().value"
                                    >radio_button_unchecked</mat-icon
                                >
                            </div>
                        </div>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</ng-template>
