<div class="settings-container">
    <mat-card>
        <mat-card-content class="notifications-toggle-card">
            <div>
                <h2>Notifications</h2>
                <span>Receive e-mail notifications for the following events:</span>
            </div>
            <div class="notifications-settings-container">
                <div class="notifications-settings">
                    <mat-slide-toggle [(ngModel)]="checked"> </mat-slide-toggle>
                    <span>When a order is updated or deleted.</span>
                </div>
                <div class="notifications-settings">
                    <mat-slide-toggle [(ngModel)]="checked"> </mat-slide-toggle>
                    <span>When a order is updated or deleted.</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="theme-toggle-card">
            <h2>Dark Mode</h2>
            <div class="theme-toggle">
                <mat-icon class="mr-8" fontSet="material-icons-outlined">brightness_5</mat-icon>
                <mat-slide-toggle [checked]="isDarkModeEnabled" (change)="toggleTheme()">
                </mat-slide-toggle>
                <mat-icon fontSet="material-icons-outlined">bedtime</mat-icon>
            </div>
        </mat-card-content>
    </mat-card>
</div>
