.password-strength-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .password-strength-indicator {
        display: flex;
        flex-direction: row;
        width: 100%;

        .password-strength-title{
            padding-right: 10px;
        }

        .password-strength-status{
            font-weight: 500;
        }
    }

    .password-strength-slider {
        width: 100%;
    }
}
