<div class="dialog-container">
    <div mat-dialog-title>
        {{ action === 'create' ? 'Create' : 'Update' }} Product
    </div>

    <mat-dialog-content class="dialog-content">
        <form [formGroup]="form" (ngSubmit)="submit()" class="dialog-content-form">
            <mat-form-field>
                <mat-label>Product Name</mat-label>
                <input matInput formControlName="product_name" required title="Product Name" />
                <mat-error *ngIf="form.get('product_name')?.invalid && form.get('product_name')?.touched">
                    Product Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput type="number" min="0" formControlName="price" required title="Price" />
                <mat-error *ngIf="form.get('price')?.invalid && form.get('price')?.touched">
                    Price is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Image URL</mat-label>
                <input matInput formControlName="image" title="Image URL" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" title="Description"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ingredients</mat-label>
                <textarea matInput formControlName="ingredients" title="Ingredients"></textarea>
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="button cancel" mat-stroked-button color="warn" mat-dialog-close>
            Cancel
        </button>
        <button
            class="button"
            mat-stroked-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || !formHasChanged()"
            autofocus
            (click)="submit()"
        >
            {{ action }}
        </button>
    </mat-dialog-actions>
</div>
