<div class="profile-container">
    <input
        type="file"
        accept="image/*"
        #fileInput
        style="display: none"
        (change)="onFileSelected($event)"
    />
    <div class="image-container">
        <img
            [src]="
                loggedInUser.profile_picture
                    ? loggedInUser.profile_picture
                    : '/assets/images/avatar.png'
            "
            alt="Profile image"
        />
    </div>
    <button
        class="profile-picture-upload-button"
        mat-flat-button
        color="primary"
        (click)="openUploadPanel()"
    >
        <mat-icon fontSet="material-icons-outlined">file_upload</mat-icon>
        <span>Change Image</span>
    </button>
    <div class="profile-username">{{ loggedInUser.first_name }} {{ loggedInUser.last_name }}</div>

    <div class="profile-registered-since">
        <span>Registered since: {{ loggedInUser.created_at | date : 'd/M/yy' }}</span>
    </div>

    <form
        class="profile-edit-form"
        [formGroup]="profileForm"
        (ngSubmit)="updateUser()"
        #profileFormRef="ngForm"
    >
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Email" />
        </mat-form-field>        

        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" formControlName="phone_number" placeholder="Phone Number" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input
                matInput
                type="text"
                formControlName="location"
                placeholder="Location"
                #locationInput
            />
            <button
                mat-icon-button
                matSuffix
                *ngIf="locationInput.value"
                (click)="openInNewWindow(locationInput.value)"
                type="button"
            >
                <mat-icon>open_in_new</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <span class="change-password-link" (click)="openChangePasswordDialog()">Change Password?</span>

    <mat-toolbar class="insert-panel" *ngIf="isFormChanged() && profileForm.valid" color="primary">
        <button class="insert-panel-actions" mat-flat-button (click)="cancelEdition()">
            Cancel
        </button>
        <button
            class="insert-panel-actions"
            mat-raised-button
            color="primary"
            (click)="profileFormRef.ngSubmit.emit()"
        >
            Save
        </button>
    </mat-toolbar>
</div>
