.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.mat-mdc-form-field {
    margin: 15px 0 0 10px;
    flex-grow: 1;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;  /* This is a light gray. Change to the color you prefer. */
}
  
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    padding: 5px 0;
}

table th, table td {
    text-align: left;
}

.filter-button{
    margin: 0 10px 0 10px;
}

.product-column {
    resize: horizontal;
    overflow: auto;
    min-width: 100px;
}

.product-row {
    display: block;
    white-space: nowrap;
}
