<div class="controls-container">
    <button mat-icon-button matSuffix color="primary" (click)="openCreateUpdateOrder('create')">
        <mat-icon>add</mat-icon>
    </button>
    <button
        class="filter-button"
        mat-raised-button
        color="primary"
        (click)="openFilterOrdersDialog()"
    >
        Filter
    </button>
    <button class="filter-button" mat-stroked-button color="primary" (click)="clearFilters()">
        Clear Filters
    </button>
    <button
        class="filter-button"
        mat-raised-button
        [disabled]="this.isAllUnselected()"
        color="primary"
        (click)="downloadSelectedOrders()"
    >
        Download
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <mat-checkbox
                    color="primary"
                    (change)="$event ? toggleAll() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                ></mat-checkbox>
            </th>
            <th>Seller</th>
            <th>Client</th>
            <th>ORDER</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let row of bakeryManagementService.ordersList$ | async"
            (dblclick)="openCreateUpdateOrder('update')"
        >
            <td>
                <mat-checkbox
                    color="primary"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                ></mat-checkbox>
            </td>
            <td>{{ row.seller.first_name }} {{ row.seller.last_name }}</td>
            <td>{{ row.client.first_name }} {{ row.client.last_name }}</td>
            <td class="product-column">
                <div *ngFor="let item of row.order_items">
                    <div class="product-row">
                        {{ item.quantity }}
                        <ng-container *ngIf="item.returned_quantity !== 0"
                            >- {{ item.returned_quantity }}</ng-container
                        >
                        {{ item.product.product_name }}
                    </div>
                </div>
            </td>
            <!-- TODO: -->
            <!-- <td>{{ row.created_at | formatDate }}</td>  -->
            <td>{{ row.created_at }}</td>
            <td>
                <ng-container matColumnDef="actions">
                    <!-- button and dropdown for selecting action -->
                    <button mat-button [matMenuTriggerFor]="actionMenu.menu">
                        <mat-icon class="media-library-options-bar-sort-icon">menu</mat-icon>
                    </button>
                    <app-dropdown-menu-list
                        #actionMenu
                        [width]="'120px'"
                        [options]="actionDropdown"
                        (menuClick)="onDropdownMenuClick($event, row)"
                    >
                    </app-dropdown-menu-list>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #confirmationDialogContainer>
    <app-confirmation-dialog
        [title]="activeOrder!.id"
        (confirm)="onDeleteProduct()"
    ></app-confirmation-dialog>
</ng-template>
