<div class="controls-container">
    <button mat-icon-button matSuffix color="primary" (click)="createUpdateOrder('create')">
        <mat-icon>add</mat-icon>
    </button>
    <button
        class="filter-button"
        mat-raised-button
        color="primary"
        (click)="openFilterOrdersDialog()"
    >
        Filter
    </button>
    <button class="filter-button" mat-stroked-button color="primary" (click)="clearFilters()">
        Clear Filters
    </button>
    <button
        class="filter-button"
        mat-raised-button
        [disabled]="this.isAllUnselected()"
        color="primary"
        (click)="downloadSelectedOrders()"
    >
        Download
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <mat-checkbox
                    color="primary"
                    (change)="$event ? toggleAll() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                ></mat-checkbox>
            </th>
            <th>Seller</th>
            <th>Client</th>
            <th>ORDER</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of bakeryManagementService.ordersList">
            <td>
                <mat-checkbox
                    color="primary"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                ></mat-checkbox>
            </td>
            <td>{{ row.seller.first_name }} {{ row.seller.last_name }}</td>
            <td>{{ row.client.first_name }} {{ row.client.last_name }}</td>
            <td class="product-column">
                <div *ngFor="let item of row.order_items">
                    <div class="product-row">
                        ({{ item.quantity }}) {{ item.product?.product_name }}
                    </div>
                </div>
            </td>
            <td>{{ row.created_at | formatDate }}</td>
            <td>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="createUpdateOrder('update', row)">
                        <mat-icon color="primary">edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteOrder(row)">
                        <mat-icon color="warn">delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </tr>
    </tbody>
</table>
