.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.mat-mdc-form-field {
    margin: 15px 0 0 10px;
    flex-grow: 1;
}

.filter-button{
    margin: 0 10px 0 10px;
}

.product-column {
    display: flex;
    flex-grow: 1;
}

.product-row {
    display: flex;
    flex-grow: 1;
}

table th, table td {
    text-align: left;
}

.table {
    width: 100%;
}
