<ng-container *transloco="let t">
    <div class="password-strength-container">
        <div class="password-strength-indicator">
            <span class="password-strength-title">{{ t('passwordStrength.title') }}</span>
            <span class="password-strength-status" [ngStyle]="{ color: strengthHint.color }">{{
                strengthHint.message
            }}</span>
        </div>

        <form [formGroup]="form()">
            <mat-checkbox formControlName="passwordMin">
                {{ t('passwordStrength.passwordLength') }}
            </mat-checkbox>
            <mat-checkbox formControlName="passwordDigit">
                {{ t('passwordStrength.containsDigit') }}
            </mat-checkbox>
            <mat-checkbox formControlName="passwordSpecial">
                {{ t('passwordStrength.containsSymbol') }}
            </mat-checkbox>
        </form>

        <mat-slider
            class="password-strength-slider"
            [disabled]="true"
            [max]="3"
            [min]="0"
            [step]="1"
        >
            <input matSliderThumb [(ngModel)]="passwordSlider" />
        </mat-slider>
    </div>
</ng-container>
