<ng-template>
    <form [formGroup]="form" class="mef-advanced-text-filter">
        <mat-form-field
            floatLabel="auto"
            class="form-field-without-hint"
            [ngStyle]="{
                backgroundColor: form.get('fields')?.value?.length ? '#dcdcdc' : '#eeeeee',
                width: customLabelWidth() ? customLabelWidth : null,
            }"
        >
            <span class="mef-advanced-text-label">
                @if (form && form.value.fields.length > 0) {
                    <mat-icon class="mef-advanced-text-label-icon">check</mat-icon>
                }
                <span>{{ labelTK() }}</span></span
            >
            <mat-select
                formControlName="fields"
                multiple
                #advancedTextFilterSelect
                class="mef-advanced-text-filter-select"
                [panelClass]="['mef-advanced-text-filter-select-overlay', panelClass()]"
                [compareWith]="compareObjects"
                [disableOptionCentering]="true"
                (openedChange)="onOpenedChange($event)"
            >
                @if (loading()) {
                    <mat-option class="spinner-option">
                        <mat-spinner diameter="30"></mat-spinner>
                    </mat-option>
                }
                @if (searchForTK() && !loading()) {
                    <mat-form-field
                        class="mef-advanced-text-filter-input form-field-without-hint"
                        appearance="fill"
                    >
                        <mat-icon matPrefix class="mef-advanced-text-filter-search-icon"
                            >search</mat-icon
                        >
                        <mat-label class="mef-advanced-text-filter-search-label">{{
                            searchForTK()
                        }}</mat-label>
                        <input
                            [(ngModel)]="searchQuery"
                            [ngModelOptions]="{ standalone: true }"
                            matInput
                            (input)="onSearchChange()"
                            (keydown)="$event.stopPropagation()"
                        />
                        @if (searchQuery.length) {
                            <mat-icon
                                matSuffix
                                class="mef-advanced-text-filter-cancel-icon"
                                (click)="clearSearch()"
                                >cancel</mat-icon
                            >
                        }
                    </mat-form-field>
                }
                @if (!fields().length && !loadingPage && !hasMoreItems() && noResultsTK()) {
                    <mat-option disabled>
                        {{ noResultsTK() }}
                    </mat-option>
                } @else {
                    @if (!fields().length) {
                        <mat-option disabled>---</mat-option>
                    }
                }
                @for (field of fields(); track field) {
                    <mat-option [value]="field">
                        <div class="mef-advanced-text-filter-content">
                            <div class="mef-advanced-text-filter-field-label-container">
                                @if (field.isTranslated) {
                                    <span class="mef-advanced-text-filter-field-label">
                                        {{ field.label }}
                                    </span>
                                }
                                @if (!field.isTranslated) {
                                    <span class="mef-advanced-text-filter-field-label">
                                        {{ field.label }}
                                    </span>
                                }
                            </div>
                            @if (field.count || field.count === 0) {
                                <div class="mef-advanced-text-filter-count">
                                    ({{ field.count }})
                                </div>
                            }
                        </div>
                    </mat-option>
                }
                @if (loadingPage() && hasMoreItems()) {
                    <div class="mef-advanced-text-filter-spinner">
                        <mat-spinner diameter="30"></mat-spinner>
                    </div>
                }
            </mat-select>
        </mat-form-field>
    </form>
</ng-template>
