.action-col {
  display: flex;
  align-items: center;
}

::ng-deep .mat-mdc-table .mat-mdc-header-cell .header-checkbox {
  --mdc-checkbox-unselected-icon-color: white!important;
  border-color: white!important;
  opacity: 0.8;
}
::ng-deep .mat-mdc-table .mat-mdc-header-cell .header-checkbox:hover .mdc-checkbox__background,
::ng-deep .mat-mdc-table .mat-mdc-header-cell .header-checkbox:active .mdc-checkbox__background,
::ng-deep .mat-mdc-table .mat-mdc-header-cell .header-checkbox:focus-within .mdc-checkbox__background {
  border-color: white!important;
  opacity: 0.8;
}
