.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    margin: 0px;

    .download-pdf {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.filter-form {
    display: flex;
    flex-direction: column;
}
