<!-- If there is no items, display the empty state -->
@if (!items.length) {
    <ng-container [ngTemplateOutlet]="emptyStateTemplate"></ng-container>
}

<!-- If there are items -->
@if (items.length) {
    @switch (scrollType) {
        <!-- Default scroll -->
        @case ('default') {
            <div #gridViewport class="grid-viewport" (window:resize)="onResizeViewport()">
                <mat-grid-list
                    [cols]="gridColumns"
                    [gutterSize]="gutterSize + 'px'"
                    [rowHeight]="minItemHeight + 'px'"
                >
                    @for (item of items; track item) {
                        <mat-grid-tile>
                            <ng-container
                                [ngTemplateOutlet]="itemTemplate"
                                [ngTemplateOutletContext]="{ item: item }"
                            ></ng-container>
                        </mat-grid-tile>
                    }
                </mat-grid-list>
            </div>
        }
        <!-- Infinite scroll -->
        @case ('infinite') {
            <div
                #gridViewport
                class="grid-viewport"
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50"
                (scrolled)="onInfiniteScrollDown()"
                (scrolledUp)="onInfiniteScrollUp()"
                [scrollWindow]="false"
                (window:resize)="onResizeViewport()"
            >
                <mat-grid-list
                    [cols]="gridColumns"
                    [gutterSize]="gutterSize + 'px'"
                    [rowHeight]="minItemHeight + 'px'"
                >
                    @for (item of items; track item) {
                        <mat-grid-tile>
                            <ng-container
                                [ngTemplateOutlet]="itemTemplate"
                                [ngTemplateOutletContext]="{ item: item }"
                            ></ng-container>
                        </mat-grid-tile>
                    }
                </mat-grid-list>
            </div>
        }
        <!-- Virtual scroll -->
        @case ('virtual') {
            <cdk-virtual-scroll-viewport [itemSize]="baseItemHeight" class="virtual-viewport">
                <div #gridViewport class="grid-viewport" (window:resize)="onResizeViewport()">
                    <mat-grid-list
                        [cols]="gridColumns"
                        [gutterSize]="gutterSize + 'px'"
                        [rowHeight]="minItemHeight + 'px'"
                    >
                        <mat-grid-tile *cdkVirtualFor="let item of items">
                            <ng-container
                                [ngTemplateOutlet]="itemTemplate"
                                [ngTemplateOutletContext]="{ item: item }"
                            ></ng-container>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </cdk-virtual-scroll-viewport>
        }
    }
}
