<ng-container *transloco="let t">
    <h2 mat-dialog-title cdkFocusInitial>{{ title }}</h2>
    <mat-dialog-content>
        @if (message) {
            <p [innerHTML]="message"></p>
        }
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        @if (displayOkButton) {
            <button mat-button color="primary" (click)="onConfirm()">
                {{ confirmButtonText }}
            </button>
        }
        @if (displayCancelButton) {
            <button mat-button (click)="onCancel()">
                {{ cancelButtonText }}
            </button>
        }
    </mat-dialog-actions>
</ng-container>
