<ng-container *transloco="let t">
    <h2 mat-dialog-title>{{ t('confirmationDialog.title') }}</h2>
    <mat-dialog-content>
        <span>{{ t('confirmationDialog.message') }}</span>
        <h4>{{ title() }}</h4>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="button cancel" mat-button mat-dialog-close>
            {{ t('confirmationDialog.cancel') }}
        </button>
        <button class="button" mat-button color="primary" (click)="onConfirm()" autofocus>
            {{ t('confirmationDialog.confirm') }}
        </button>
    </mat-dialog-actions>
</ng-container>
