<h2 mat-dialog-title>Password Change</h2>

<mat-dialog-content>
    <form class="changePasswordForm" #changePasswordForm="ngForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="fill">
            <mat-label>Actual Password</mat-label>
            <input
                matInput
                [type]="showActualPassword ? 'text' : 'password'"
                name="actualPassword"
                [(ngModel)]="actualPassword"
                required
            />
            <button
                mat-icon-button
                matSuffix
                (mousedown)="togglePasswordVisibility('actualPassword')"
                type="button"
            >
                <mat-icon>{{ showActualPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input
                matInput
                [type]="showNewPassword ? 'text' : 'password'"
                name="newPassword"
                [(ngModel)]="newPassword"
                required
            />
            <button
                mat-icon-button
                matSuffix
                (mousedown)="togglePasswordVisibility('newPassword')"
                type="button"
            >
                <mat-icon>{{ showNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Confirm new Password</mat-label>
            <input
                matInput
                [type]="showConfirmNewPassword ? 'text' : 'password'"
                name="confirmNewPassword"
                [(ngModel)]="confirmNewPassword"
                required
            />
            <button
                mat-icon-button
                matSuffix
                (mousedown)="togglePasswordVisibility('confirmNewPassword')"
                type="button"
            >
                <mat-icon>{{ showConfirmNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">
        Save
    </button>
</mat-dialog-actions>
