:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dialog-content{
    padding: 16px 8px 8px 8px;
    width: 96%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    margin: 0 auto;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    button {
        margin: 8px 24px 0px 0px;
    }
}

.client-field {
    width: 75%;
}

.button-with-badge {
    position: relative;
}

.button-with-badge .badge {
    position: absolute;
    top: -24px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    padding: 0;
}

.order-items-fields {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .product-field {
        width: 100%
    }

    button{
        bottom: 10px;
    }
}

.add-button {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}

.insert-panel {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100% !important;
    width: inherit;
    z-index: 1;

    .price {
        margin-left: 10px;
        margin-top: 14px;
        margin-right: auto;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
    }
    
    .action-button {
        font-size: 22px;
        letter-spacing: 1.25px;
        text-align: center;
        margin: 10px 10px;
    }
}
