.example-spacer {
    flex: 1 1 auto;
  }
.example-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}