.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 20px;
    }

    .profile-username {
        font-size: 22px;
        font-weight: 500;
        font-family: Roboto;
        margin-top: 20px;
    }

    .profile-registered-since {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .profile-edit-form {
        width: 320px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .insert-panel {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100% !important;
        justify-content: flex-end;
        width: inherit;
        background-color: rgb(255,255,255);
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.05);
        z-index: 1;
        
        .insert-panel-actions {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1.25px;
            text-align: center;
            padding: 0px 20px;
            margin: 0px 10px;
        }

        .cancel {
            color: #0288D1;
        }
    }
}
