<ng-container *transloco="let t">
    <div class="dialog-container">
        <div mat-dialog-title>
            {{
                action === 'create'
                    ? t('createUpdateUserDialog.create')
                    : t('createUpdateUserDialog.update')
            }}
            {{ t('createUpdateUserDialog.user') }}
        </div>

        <mat-dialog-content class="dialog-content">
            <div class="profile-container">
                <input
                    type="file"
                    accept="image/*"
                    #fileInput
                    style="display: none"
                    (change)="onFileSelected($event)"
                />
                <div class="image-container">
                    <img [src]="previewImageUrl || defaultAvatar" alt="Profile image" />
                </div>
                @if (isLoadingUserDetails) {
                    <mat-progress-spinner
                        mode="indeterminate"
                        diameter="32"
                        strokeWidth="4"
                    ></mat-progress-spinner>
                }
                <button
                    class="profile-picture-upload-button"
                    mat-flat-button
                    color="primary"
                    (click)="openUploadPanel()"
                    [disabled]="isLoadingUserDetails"
                >
                    <mat-icon fontSet="material-icons-outlined">file_upload</mat-icon>
                    <span>{{ imageButtonLabel }}</span>
                </button>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()" class="dialog-content-form">
                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.firstName') }}</mat-label>
                    <input
                        matInput
                        formControlName="first_name"
                        required
                        [title]="t('createUpdateUserDialog.firstName')"
                    />
                    @if (form.get('first_name')?.invalid && form.get('first_name')?.touched) {
                        <mat-error>
                            {{ t('createUpdateUserDialog.firstNameRequired') }}
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.lastName') }}</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="last_name"
                        required
                        [title]="t('createUpdateUserDialog.lastName')"
                    />
                    @if (form.get('last_name')?.invalid && form.get('last_name')?.touched) {
                        <mat-error>
                            {{ t('createUpdateUserDialog.lastNameRequired') }}
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.nickname') }}</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="nickname"
                        [title]="t('createUpdateUserDialog.nickname')"
                    />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.email') }}</mat-label>
                    <input
                        matInput
                        type="email"
                        formControlName="email"
                        [title]="t('createUpdateUserDialog.email')"
                    />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.phoneNumber') }}</mat-label>
                    <div style="display: flex; align-items: center">
                        <mat-select
                            formControlName="phone_prefix"
                            style="width: 110px; margin-right: 8px"
                            required
                        >
                            <mat-option value="+355">🇦🇱 +355 (AL)</mat-option>
                            <mat-option value="+39">🇮🇹 +39 (IT)</mat-option>
                            <mat-option value="+49">🇩🇪 +49 (DE)</mat-option>
                            <mat-option value="+33">🇫🇷 +33 (FR)</mat-option>
                            <mat-option value="+34">🇪🇸 +34 (ES)</mat-option>
                            <mat-option value="+44">🇬🇧 +44 (UK)</mat-option>
                        </mat-select>
                        <input
                            matInput
                            type="tel"
                            formControlName="phone_number"
                            required
                            [title]="t('createUpdateUserDialog.phoneNumber')"
                            pattern="[0-9]{7,12}"
                            maxlength="12"
                            [placeholder]="t('createUpdateUserDialog.phoneNumberPlaceholder')"
                            (click)="$event.stopPropagation()"
                        />
                    </div>
                    @if (form.get('phone_number')?.invalid && form.get('phone_number')?.touched) {
                        <mat-error>
                            @if (form.get('phone_number')?.errors?.['required']) {
                                {{ t('createUpdateUserDialog.phoneNumberRequired') }}
                            }
                            @if (form.get('phone_number')?.errors?.['pattern']) {
                                {{ t('createUpdateUserDialog.phoneNumberPattern') }}
                            }
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.role') }}</mat-label>
                    <mat-select formControlName="role" required>
                        <mat-option value="client">{{
                            t('createUpdateUserDialog.roleClient')
                        }}</mat-option>
                        <mat-option value="admin">{{
                            t('createUpdateUserDialog.roleAdmin')
                        }}</mat-option>
                        <mat-option value="seller">{{
                            t('createUpdateUserDialog.roleSeller')
                        }}</mat-option>
                    </mat-select>
                    @if (form.get('role')?.invalid && form.get('role')?.touched) {
                        <mat-error>
                            {{ t('createUpdateUserDialog.roleRequired') }}
                        </mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('createUpdateUserDialog.location') }}</mat-label>
                    <input
                        matInput
                        type="text"
                        formControlName="location"
                        [title]="t('createUpdateUserDialog.location')"
                    />
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="openInNewWindow(form.get('location')?.value)"
                        type="button"
                    >
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
            <button class="button cancel" mat-stroked-button color="warn" mat-dialog-close>
                {{ t('createUpdateUserDialog.cancel') }}
            </button>
            <button
                class="button"
                mat-stroked-button
                color="primary"
                type="submit"
                [disabled]="form.invalid || isSubmitting || !formHasChanged()"
                autofocus
                (click)="submit()"
            >
                {{ action }}
            </button>
        </mat-dialog-actions>
    </div>
</ng-container>
