<div class="container">
  <div class="search-action-wrapper">
    <app-top-bar
      [mediaCount]="totalCount()"
      [title]="'Product'"
      [placeholder]="'Search for Product'"
      [displayAddButton]="showActions()"
      (searchOptionsChange)="onOptionsChanged($event)"
      (search)="onSearch($event)"
      (addItem)="addProduct()"
    ></app-top-bar>
    @if (showActions()) {
      <div >
        <input type="file" 
                #csvFileInput
                accept=".csv" 
                style="display: none;"
                (change)="onFileSelected($event)">
        <button mat-flat-button 
                color="primary" 
                (click)="csvFileInput.click()" >
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    }
  </div>

  <app-table
    [data]="(tableData$ | async) || []"
    [columns]="tableColumns()"
    [searchQuery]="searchQuery()"
    [totalCount]="totalCount()"
    [isSelectable]="false"
    [showActions]="showActions()"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)"
    (currentPageInfo)="onPageInfoChange($event)">
  </app-table>
</div>
