<div class="container">
  <div class="search-action-wrapper">
    <app-top-bar
      [mediaCount]="totalCount()"
      [title]="'Product'"
      [placeholder]="'Search for Product'"
      (searchOptionsChange)="onOptionsChanged($event)"
      (search)="onSearch($event)"
      (addItem)="addProduct()"
    ></app-top-bar>
  </div>
  <app-table
    [data]="(tableData$ | async) || []"
    [columns]="tableColumns()"
    [searchQuery]="searchQuery()"
    [totalCount]="totalCount()"
    [isSelectable]="false"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)"
    (currentPageInfo)="onPageInfoChange($event)">
  </app-table>
</div>
