<ng-container *transloco="let t">
    <span mat-dialog-title>{{ t('changePassword.title') }}</span>
    <mat-dialog-content class="dialog-content">
        <form [formGroup]="form">
            <div class="form-container">
                <mat-form-field>
                    <mat-label>{{ t('changePassword.actualPassword') }}</mat-label>
                    <input
                        name="actualPassword"
                        id="actualPassword"
                        type="{{ showActualPassword ? 'text' : 'password' }}"
                        matInput
                        [placeholder]="t('changePassword.actualPassword')"
                        formControlName="actualPassword"
                        required
                    />
                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        (click)="togglePasswordVisibility('actualPassword')"
                    >
                        <mat-icon>{{ showActualPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('actualPassword')?.hasError('required')">
                        {{ t('changePassword.actualPasswordRequired') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t('changePassword.newPassword') }}</mat-label>
                    <input
                        name="newPassword"
                        id="newPassword"
                        type="{{ showNewPassword ? 'text' : 'password' }}"
                        matInput
                        [placeholder]="t('changePassword.newPassword')"
                        formControlName="newPassword"
                        required
                    />
                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        (click)="togglePasswordVisibility('newPassword')"
                    >
                        <mat-icon>{{ showNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
                        {{ t('changePassword.newPasswordRequired') }}
                    </mat-error>
                    <mat-error *ngIf="form.get('newPassword')?.errors">
                        {{ getErrorMessage(form.get('newPassword')?.errors) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t('changePassword.confirmPassword') }}</mat-label>
                    <input
                        name="confirmPassword"
                        id="confirmPassword"
                        type="{{ showConfirmPassword ? 'text' : 'password' }}"
                        matInput
                        [placeholder]="t('changePassword.confirmPassword')"
                        formControlName="confirmPassword"
                        required
                    />
                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        (click)="togglePasswordVisibility('confirmPassword')"
                    >
                        <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
                        {{ t('changePassword.confirmPasswordRequired') }}
                    </mat-error>
                    <mat-error *ngIf="form.get('confirmPassword')?.errors">
                        {{ getErrorMessage(form.get('confirmPassword')?.errors) }}
                    </mat-error>
                </mat-form-field>
            </div>
            <app-password-strength [form]="form"></app-password-strength>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions [align]="'end'">
        <button type="button" mat-stroked-button color="warn" mat-dialog-close>{{ t('changePassword.cancel') }}</button>
        <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!form.valid"
            (click)="changeUserPassword()"
        >
            {{ t('changePassword.save') }}
        </button>
    </mat-dialog-actions>
</ng-container>
