:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 8px;
}

.controls-row,
.filters-row {
    display: flex;
    width: 100%;
}

.controls-row {
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;

    button {
        padding: 4px 8px;
    }
}

.filters-row {
    flex-wrap: wrap;
    gap: 12px;
}

.results-summary {
    color: #646565;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 12px;
    font-size: 14px;
}

.manage-orders-table-container {
    width: 100%;

    table {
        width: 100%;
    }
}

.product-row {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.seller-categories-filter-panel,
.client-categories-filter-panel,
.date-filter-panel {
    width: 318px !important;
}

.no-data-container {
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 100%;

    .small-image {
        width: 150px;
        height: auto;
    }

    p {
        margin: 0;
    }
}

@media (min-width: 601px) {
    .header {
        flex-direction: row-reverse;
        align-items: center;
    }

    .controls-row {
        justify-content: flex-end;
        gap: 16px;
        flex-wrap: nowrap;
    }

    .filters-row {
        flex: 1 1 auto;
    }
}
