:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 8px;
}

.controls-row,
.filters-row {
    display: flex;
}

.controls-row {
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;

    button {
        padding: 4px 8px;
    }
}

.filters-row {
    flex-wrap: wrap;
    gap: 12px;
}

.results-summary {
    color: #646565;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 12px;
    font-size: 14px;
}

.seller-categories-filter-panel,
.client-categories-filter-panel,
.date-filter-panel {
    width: 318px !important;
}

@media (min-width: 601px) {
    .header {
        flex-direction: row-reverse;
        align-items: center;
    }

    .controls-row {
        justify-content: flex-end;
        gap: 16px;
        flex-wrap: nowrap;
    }

    .filters-row {
        flex: 1 1 auto;
    }
}
