.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .top-bar-title-container {
        margin-left: 10px;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        
        .top-bar-title {
            font-size: 24px;
        }

        .top-bar-subtitle {
            font-size: 12px;
        }
    }

    .top-bar-search-container {
        flex: 1 1;
        min-width: 10%;
        margin: 0px 10px;
        // styles to center mat form field, sice it has some margin bottom by default
        position: relative;
        top: 10px;

        mat-form-field {
            width: 100%;

            .top-bar-search-container-form-search-icon {
                cursor: pointer;
                padding-right: 30px;
                position: relative;
                bottom: 2px;
                opacity: 0.7;
            }

            .top-bar-search-container-form-suffix {
                color: #00000099;
                font-size: 24px !important;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

    .top-bar-upload-button {
        margin-right: 10px;
        flex-shrink: 0;
        height: 36px !important;
        background-color: #4481eb;
        color: white;
        
        mat-icon {
            padding-right: 5px;
            transform: scale(1.4);
        }

        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1.35px;
        }
    }
    @media (max-width: 900px) {
        .top-bar-title-container {
            display: none;
        }
    }
    @media (min-width: 900px) {
        .top-bar-search-container {
            padding: 0px 50px 0px 50px;
        }
    }
}
