<mat-sidenav-container class="layout-container">
    <mat-sidenav
        #drawer
        class="layout-sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="opned"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <ng-container *ngFor="let route of routes">
                <mat-list-item
                    class="layout-sidenav-options"
                    [routerLink]="route.path"
                    [routerLinkActive]="['is-active']"
                    (click)="toggleSidenav()"
                >
                    <div class="icon-text-wrapper">
                        <mat-icon fontSet="material-icons-outlined">{{ route.icon }}</mat-icon>
                        <span>{{ route.name }}</span>
                    </div>
                </mat-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="toggleSidenav()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="toggle icon">menu</mat-icon>
            </button>
            <span>TrackEase</span>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()">
                    <mat-icon color="warn">logout</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
