.layout-container {
  height: 100%;

    .layout-sidenav{
        width: 230px;

        .layout-sidenav-options {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        
            .icon-text-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
        
                mat-icon {
                    padding-right: 24px;
                }
            }
        }
    }
}

.spacer {
    flex: 1 1 auto;
}