.dialog-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    // .dialog-content {
    //     max-height: calc(100vh - 150px);
    //     overflow-y: auto;
    //     flex-grow: 1;

    //     .dialog-content-form{
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //         min-height: 100%;
    //     }
    // }
}

form{
    width: 95%;
    margin: auto;
}

.dialog-actions {
    flex-shrink: 0;
    background-color: #eeeeee;
    color: #000000;
}

.total-price {
    margin-left: 10px;
    margin-top: 14px;
    margin-right: auto;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.total-price.animate {
    transform: scale(1.2);
}

mat-form-field {
    display: block;
}
