<!-- Products Sales 2023 -->
<plotly-plot
    [useResizeHandler]="true"
    [data]="donut.data"
    [layout]="donut.layout"
    [config]="{
        displayModeBar: true,
        modeBarButtonsToRemove: [
            'zoom2d',
            'pan2d',
            'select2d',
            'lasso2d',
            'zoomIn2d',
            'zoomOut2d',
            'autoScale2d',
            'resetScale2d',
            'hoverClosestCartesian',
            'hoverCompareCartesian'
        ],
        toImageButtonOptions: { format: 'png', filename: 'donut_chart' }
    }"
>
</plotly-plot>

<!-- Sales Report 2023 -->
<plotly-plot
    [useResizeHandler]="true"
    [data]="groupedBarChart.data"
    [layout]="groupedBarChart.layout"
    [config]="{
        displayModeBar: true,
        modeBarButtonsToRemove: [
            'zoom2d',
            'pan2d',
            'select2d',
            'lasso2d',
            'zoomIn2d',
            'zoomOut2d',
            'autoScale2d',
            'resetScale2d',
            'hoverClosestCartesian',
            'hoverCompareCartesian'
        ],
        toImageButtonOptions: { format: 'png', filename: 'grouped_bar_chart' }
    }"
>
</plotly-plot>

<div style="text-align: center">
    <p style="font-weight: bold">POC</p>
</div>
<p>
    On the orders list page, users will see a chart illustrating their monthly spending on products
    and information will also be represented using a donut chart, highlighting the most purchased
    items.
</p>
<p>
    For administrators, there will be a chart illustrating their monthly earnings. Additionally, a
    donut chart will show which products are the most sold!
</p>
