:host {
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    .top-bar-title-container {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        margin: -12px 50px 0px 0px;
 
        .top-bar-title {
            font-size: 24px;
        }
 
        .top-bar-subtitle {
            font-size: 12px;
            color: var(--00-on-surface-medium-emphasis, rgba(0, 0, 0, 0.60));
        }
    }
 
    .top-bar-search-container {
        flex: 1 1;
        min-width: 10%;
 
        .top-bar-search-container-form {
            min-width: 0;
            width: 100%;
 
            .top-bar-search-container-form-search-icon {
                cursor: pointer;
                padding-right: 30px;
                position: relative;
                bottom: 2px;
                opacity: 0.7;
            }
 
            .top-bar-search-container-form-suffix {
                display: flex;
 
                .top-bar-search-container-form-suffix-cancel-icon {
                    color: #00000099;
                    font-size: 24px !important;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
 
        }
    }
 
    .top-bar-upload-button {
        flex-shrink: 0;
        align-items: center;
        height: 36px !important;
        margin: 0px 10px 0px 10px;
        position: relative;
        bottom: 10px;
 
        mat-icon {
            padding-right: 10px;
        }
 
        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1.35px;
            padding-right: 10px;
        }
    }
 
    @media screen and (max-width: 913px) {
        .top-bar-search-container {
            width: 100%;
        }
    }
}
 
.top-bar-search-container-form-options-menu {
    padding-left: 20px;

    .top-bar-search-container-form-options-menu-checkbox {
        width: 290px;
        display: inline-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 30px;
        color: black;
    }
}
 
.top-bar-hidden-mat-option {
    display: none !important;
}

@media (max-width: 900px) {
    :host .top-bar-title-container {
        display: none;
    }
}
