:host {
    height: 70px;
    padding: 0 16px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    gap: 16px;
 
    .top-bar-title-container {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        margin-top: -16px;
 
        .top-bar-title {
            font-size: 24px;
        }
 
        .top-bar-subtitle {
            font-size: 12px;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }

    .top-bar-search-container {
        flex: 1 1;
        min-width: 10%;
 
        .top-bar-search-container-form {
            min-width: 0;
            width: 100%;
 
            .top-bar-search-container-form-search-icon {
                opacity: 0.7;
            }
 
            .top-bar-search-container-form-suffix {
                display: flex;
 
                .top-bar-search-container-form-suffix-cancel-icon {
                    color: #00000099;
                    font-size: 24px !important;
                    margin-right: 8px;
                    cursor: pointer;
                }
            }
 
        }
    }
 
    .top-bar-upload-button {
        flex-shrink: 0;
        align-items: center;
        margin-top: -24px;
 
        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1.35px;
        }
    }
}
 
.top-bar-search-container-form-options-menu {
    padding-left: 20px;

    .top-bar-search-container-form-options-menu-checkbox {
        width: 290px;
        display: inline-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 30px;
        color: black;
    }
}
 
.top-bar-hidden-mat-option {
    display: none !important;
}
