<div class="top-bar">
    <div class="top-bar-title-container">
        <span class="top-bar-title"> {{ title }} Library</span>
        <span class="top-bar-subtitle"> Total number of results {{ mediaCount }} </span>
    </div>
    <!-- search bar -->
    <div class="top-bar-search-container">
        <mat-form-field appearance="fill" class="top-bar-search-container-form">
            <mat-icon matPrefix class="top-bar-search-container-form-search-icon">search</mat-icon>
            <mat-label>{{ placeholder }}</mat-label>
            <input
                [formControl]="searchQuery"
                matInput
                [matAutocomplete]="topBarSearchAutocomplete"
                #matAutocomplete
                placeholder="{{ placeholder }}"
            />
            <mat-autocomplete #topBarSearchAutocomplete="matAutocomplete">
                <mat-option class="top-bar-search-container-form-options-menu" disabled="true">
                    <div class="top-bar-search-container-form-options-menu-checkbox">
                        <span> Search By: </span>
                        <mat-checkbox
                            name="title"
                            [(ngModel)]="searchOptions.title"
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="changeSearchOptions('title')"
                            [disabled]="searchOptions.title"
                        >
                            Title</mat-checkbox
                        >
                        <mat-checkbox
                            name="meta"
                            [(ngModel)]="searchOptions.all"
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="changeSearchOptions('all')"
                            [disabled]="searchOptions.all"
                        >
                            All
                        </mat-checkbox>
                    </div>
                </mat-option>
            </mat-autocomplete>
            <mat-icon
                class="top-bar-search-container-form-suffix"
                matSuffix
                *ngIf="searchQuery.value?.length"
                fontSet="material-icons-outlined"
                (click)="clearSearchQuery()"
                >cancel</mat-icon
            >
        </mat-form-field>
    </div>

    <!-- button for media upload -->
    <button
        class="top-bar-upload-button"
        mat-flat-button
        color="primary"
        [disabled]="disableAddItem"
        (click)="openUploadPanel()"
    >
        <mat-icon fontSet="material-icons-outlined">file_upload</mat-icon>
        <span> Add {{ title }}</span>
    </button>
</div>
