<span mat-dialog-title>{{ action === 'create' ? 'Create' : 'Update' }} Order</span>

<div class="dialog-content">
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field>
            <mat-label>Client</mat-label>
            <input
                type="text"
                matInput
                formControlName="client"
                [matAutocomplete]="autoCompleteClients"
                (input)="clientSearchChange($event)"
                (focus)="loadMoreClients()"
                required
            />
            <mat-autocomplete
                #autoCompleteClients="matAutocomplete"
                (opened)="onOpened(autoCompleteClients)"
                (closed)="onClosed()"
            >
                <mat-option *ngFor="let client of clients | async" [value]="client.value">
                    {{ client.label }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('client')?.invalid && form.get('client')?.touched">
                Client is required
            </mat-error>
        </mat-form-field>

        <div
            formArrayName="order_items"
            *ngFor="let item of orderItemsFormArray?.controls; let i = index"
        >
            <div [formGroupName]="i" class="dialog-content-order-items">
                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="product"
                        [matAutocomplete]="autoCompleteProducts"
                        (input)="productSearchChange($event)"
                        (focus)="loadMoreProducts()"
                        required
                    />
                    <mat-autocomplete
                        #autoCompleteProducts="matAutocomplete"
                        (opened)="onOpened(autoCompleteProducts)"
                        (closed)="onClosed()"
                    >
                        <mat-option
                            *ngFor="let product of products | async"
                            [value]="product.value"
                        >
                            {{ product.label }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="form.get('product')?.invalid && form.get('product')?.touched">
                        Product is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="quantity" type="number" min="1" required />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Returns</mat-label>
                    <input matInput formControlName="returned_quantity" type="number" min="0" />
                </mat-form-field>

                <button mat-mini-fab color="warn" (click)="removeOrderItem(i)" type="button">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>

        <div class="add-order-item-button">
            <button mat-fab color="primary" (click)="addOrderItem()" type="button">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </form>
</div>

<mat-dialog-actions [align]="'end'" class="insert-panel">
    <h2 class="price">{{ totalOrderPrice.toLocaleString() }} Lekë</h2>
    <button class="action-button" mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button
        class="action-button"
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || !formHasChanged()"
        autofocus
        (click)="save()"
    >
        {{ action }}
    </button>
</mat-dialog-actions>
