<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer class="example-sidenav" mode="over">
        <mat-nav-list>
            <ng-container *ngFor="let route of routes">
                <a mat-list-item (click)="drawer.toggle()" [routerLink]="route.path">
                    <div *ngIf="route.icon" class="icon-text-wrapper">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">{{
                            route.icon
                        }}</mat-icon>
                        {{ route.name }}
                    </div>
                    <span *ngIf="!route.icon">{{ route.name }}</span>
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Bakery Management App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()">
                    <mat-icon color="warn">logout</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
