<mat-sidenav-container class="layout-container">
    <mat-sidenav #drawer class="layout-sidenav" mode="over">
        <mat-list>
            <ng-container *ngFor="let route of routes">
                <mat-list-item
                    class="layout-sidenav-options"
                    [routerLink]="route.path"
                    [routerLinkActive]="['is-active']"
                >
                    <mat-icon fontSet="material-icons-outlined">{{ route.icon }}</mat-icon>
                    <span>{{ route.name }}</span>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Bakery Management App</span>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logOut()">
                    <mat-icon color="warn">logout</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
