<div class="manage-users-container">
    <ng-container *ngTemplateOutlet="topBarContainer"></ng-container>

    <table mat-table [dataSource]="dataSource">
        <!-- Full Name Column -->
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef>Full Name</th>
            <td mat-cell *matCellDef="let row">{{ row.first_name }} {{ row.last_name }}</td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let row">{{ row.role.name }}</td>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let row">{{ row.phone_number }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <!-- button and dropdown for selecting action -->
                <button mat-button [matMenuTriggerFor]="actionMenu.menu">
                    <mat-icon class="media-library-options-bar-sort-icon">more_vert</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectUser(row)"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" *ngIf="!isLoading" colspan="4">
                <div class="no-data-container">
                    <img src="assets/images/no-data.svg" alt="No data found" class="small-image" />
                    <p>No Data Found!</p>
                </div>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner
        *ngIf="isLoading"
        mode="indeterminate"
        diameter="50"
    ></mat-progress-spinner>
</div>

<mat-paginator
    [length]="bakeryManagementService.usersCount"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 30, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of users"
></mat-paginator>

<ng-template #topBarContainer>
    <app-top-bar
        [mediaCount]="bakeryManagementService.usersCount"
        [title]="'User'"
        [placeholder]="'Search for User'"
        [searchOptions]="getSearchOptions()"
        (searchQueryChange)="setSearchQuery($event)"
        (searchOptionsChange)="setSearchOptions($event)"
        (addItem)="addUser()"
    ></app-top-bar>
</ng-template>

<ng-template #createUpdateContainer>
    <app-create-update-dialog
        [type]="'user'"
        [action]="actionState"
        [user]="activeUser"
        (updateUser)="updateUser($event)"
        (createUser)="createUser($event)"
    ></app-create-update-dialog>
</ng-template>

<ng-template #confirmationDialogContainer>
    <app-confirmation-dialog
        [title]="activeUser!.first_name"
        (confirm)="onDeleteUser()"
    ></app-confirmation-dialog>
</ng-template>

<app-dropdown-menu-list
    #actionMenu
    [width]="'120px'"
    [options]="actionDropdown"
    (menuClick)="onDropdownMenuClick($event)"
>
</app-dropdown-menu-list>
