<div class="container">
  <div class="search-action-wrapper">
    <app-top-bar
      [mediaCount]="(tableData$ | async)?.length || 0"
      [title]="'User'"
      [placeholder]="'Search for User'"
      (searchOptionsChange)="onOptionsChanged($event)"
      (search)="onSearch($event)"
      (addItem)="addUser()"
    ></app-top-bar>
  </div>
  <app-table
    [data]="(tableData$ | async) || []"
    [columns]="tableColumns()"
    [searchQuery]="searchQuery()"
    [isSelectable]="false"
    (onEdit)="onEdit($event)"
    (onDelete)="onDelete($event)">
  </app-table>
</div>
