/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-option .mdc-list-item__primary-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

// Remove hint div at the bottom of the form field that is added by default in Angular 15+
.form-field-without-hint .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mat-mdc-snack-bar-container {
    &.snack-bar-success {
      --mat-snackbar-container-color: #5cb85c;
      --mat-mdc-snack-bar-button-color: #fff;
      --mat-snackbar-supporting-text-color: #fff;
    }
    &.snack-bar-error {
        --mat-snackbar-container-color: #cc0000;
        --mat-mdc-snack-bar-button-color: #fff;
        --mat-snackbar-supporting-text-color: #fff;
    }
}

:root {
  --option-font-size: 16px;
  --table-font-size: 16px;
  --input-font-size: 16px;
}

mat-option {
  font-size: var(--option-font-size) !important;
}

td {
  font-size: var(--table-font-size) !important;
}

mat-form-field{
  font-size: var(--input-font-size) !important;
}
