mat-form-field {
    display: block;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dialog-content {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    flex-grow: 1;
}

form{
    width: 90%;
    margin: auto;
}

.dialog-actions {
    flex-shrink: 0;
    background-color: #eeeeee;
    color: #000000;
}

.total-price {
    margin-left: 10px;
    margin-top: 14px;
    margin-right: auto;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.total-price.animate {
    transform: scale(1.2);
}
