<div class="chart-container">
    <mat-tab-group
        [selectedIndex]="selectedFirstTab === FirstTab.Sales ? 0 : 1"
        (selectedIndexChange)="onFirstTabChange($event === 0 ? FirstTab.Sales : FirstTab.Returns)">
        <mat-tab label="Sales"></mat-tab>
        <mat-tab label="Returns"></mat-tab>
    </mat-tab-group>

    <div #graph class="chart"></div>
</div>

<!-- <div class="chart-container" style="margin-top: 2rem;">
    <mat-tab-group
        [selectedIndex]="selectedSecondTab === SecondTab.TotalSales ? 0 : 1"
        (selectedIndexChange)="onSecondTabChange($event === 0 ? SecondTab.TotalSales : SecondTab.Products)">
        <mat-tab label="Total Sales"></mat-tab>
        <mat-tab label="Products"></mat-tab>
    </mat-tab-group>

    <div #pieChart class="chart"></div>
</div> -->
