<div class="table-actions">
  @if (isAddEnabled()) {
    <button mat-icon-button color="primary" matTooltip="Add" (click)="onAddElement()">
      <mat-icon>add</mat-icon>
    </button>
  }
  @if (isDeleteEnabled()) {
    <button mat-icon-button color="warn" matTooltip="Delete" (click)="onDeleteSelectedElement()" [disabled]="selectedCount() === 0">
      <mat-icon>delete</mat-icon>
    </button>
  }
  @if (isExportEnabled()) {
    <button mat-icon-button color="primary" matTooltip="Export" (click)="onExportSelectedElement()" [disabled]="selectedCount() === 0">
      <mat-icon>download</mat-icon>
    </button>
  }
</div>
